In [2]:
import pandas as pd
import numpy as np
daily_returns = pd.DataFrame(
    np.random.randn(10, 2),
    index=pd.date_range('1/1/2020', periods=10),
    columns=["AAPL", "GOOG"])
daily_returns

                AAPL      GOOG
2020-01-01 -0.082355 -0.492088
2020-01-02 -0.737321  0.001999
2020-01-03 -0.834396  2.243608
2020-01-04  1.163258  1.860865
2020-01-05 -0.803432 -0.558910
2020-01-06 -0.950327  0.685181
2020-01-07 -0.301692  0.145974
2020-01-08 -0.100022 -0.679842
2020-01-09  1.570639  1.131181
2020-01-10 -1.410450 -0.355475

In [3]:
daily_returns = pd.DataFrame({
    'AAPL': np.random.randn(5),
    'GOOG': np.random.randn(5),
    'MSFT': np.random.randn(5),
})
daily_returns
boolean_filter = [True,False,True]
daily_returns.loc[:, boolean_filter]

       AAPL      MSFT
0 -0.327539 -0.481993
1  1.802404 -0.659076
2 -0.545928 -0.065550
3  0.781135 -1.470705
4  0.942406  1.380978

In [21]:
aapl_returns = pd.DataFrame({'AAPL': np.random.randn(10) + 1})
aapl_returns

       AAPL
0  0.540546
1  2.545020
2  1.767378
3  0.888327
4  1.092155
5  1.040822
6  0.279420
7 -0.692852
8  0.879067
9  0.601706

In [22]:
aapl_returns["AAPL"] > 0

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7    False
8     True
9     True
Name: AAPL, dtype: bool

In [26]:
aapl_returns["AAPL"] <= 2

0     True
1    False
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
Name: AAPL, dtype: bool

In [30]:
boolean_filter_low = aapl_returns["AAPL"] > 0
aapl_returns.loc[boolean_filter_low].count()

AAPL    9
dtype: int64

In [29]:
boolean_filter_high = aapl_returns["AAPL"] <= 2
aapl_returns.loc[boolean_filter_high].count()

AAPL    9
dtype: int64

In [28]:
aapl_returns.loc[boolean_filter_high & boolean_filter_low].count()

AAPL    8
dtype: int64