# Importing the VIX

In this activity, you’ll first read a CSV file containing the pricing data for the Volatility Index (VIX). You’ll then view the first and the last five rows of the resulting DataFrame. 

Instructions:

1. Import the Pandas and `pathlib` libraries.

2. Define the relative path to the CSV file by using the `Path` module.

3. Use the Pandas `read_csv` function to create a DataFrame.

4. Use the `head` function to view the first five rows of the DataFrame.

5. Use the `tail` function to view the last five rows of the DataFrame.


References:

[Pandas read_csv function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

[Pandas head function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html)

[Pandas tail function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.tail.html)

## Step 1: Import the Pandas and `pathlib` libraries.

In [27]:
# Import the Pandas library
# YOUR CODE HERE
import pandas as pd

In [28]:
# Import the Path module from the pathlib library
# YOUR CODE HERE
from pathlib import Path

## Step 2: Define the relative path to the CSV file by using the `Path` module.

In [29]:
# Using the Path module, set the relative path to the "vix.csv" file
# This "vix.csv" file is located in your Resources folder
csvpath = Path("C:/Users/sungmoo.b/Desktop/Fintech/3rd week/02_Fix_Column_Headers/sales_no_header.csv")

## Step 3. Use the Pandas `read_csv` function to create a DataFrame.

In [31]:
# Use the Pandas read_csv function to create a Pandas DataFrame
# Read in the csvpath variable
sales_data = pd.read_csv(csvpath, header=None)

In [33]:
columns = ["Full Name", "Email", "Zip Code", "Sale Price"]

In [34]:
sales_data.columns = columns
sales_data.head()

         Full Name                   Email  Zip Code  Sale Price
0    Elwanda White      alyre2036@live.com      9236       84.33
1   Lyndon Elliott  arrowy1873@outlook.com      1330      879.95
2   Daisey Sellers  toucan2024@outlook.com      7631      907.58
3     Issac Reeves    asarin1958@gmail.com     81168      545.88
4  Bradford Kinney  mibound1801@yandex.com     41721      517.49

## Step 4: Use the `head` function to view the first 5 rows of the DataFrame.

In [32]:
# Call the head function to view the first 5 rows of the vix_df DataFrame
# YOUR CODE HERE
sales_data.head()

                 0                       1      2       3
0    Elwanda White      alyre2036@live.com   9236   84.33
1   Lyndon Elliott  arrowy1873@outlook.com   1330  879.95
2   Daisey Sellers  toucan2024@outlook.com   7631  907.58
3     Issac Reeves    asarin1958@gmail.com  81168  545.88
4  Bradford Kinney  mibound1801@yandex.com  41721  517.49

## Step 5: Use the `tail` function to view the last 5 rows of the DataFrame.

In [14]:
# Call the tail function to view the last 5 rows of the vix_df DataFrame
# YOUR CODE HERE
vix_df.tail()

         Date    VIX
4113  9/15/20  25.59
4114  9/16/20  26.04
4115  9/17/20  26.46
4116  9/18/20  25.83
4117  9/21/20  27.78

In [15]:
# BONUS! Call the tail function to view the last 10 rows of the vix_df DataFrame
# YOUR CODE HERE
vix_df.tail(10)

         Date    VIX
4108   9/8/20  31.46
4109   9/9/20  28.81
4110  9/10/20  29.71
4111  9/11/20  26.87
4112  9/14/20  25.85
4113  9/15/20  25.59
4114  9/16/20  26.04
4115  9/17/20  26.46
4116  9/18/20  25.83
4117  9/21/20  27.78