# IPO Excitement

In this activity, youâ€™ll read financial data from a CSV file into a DataFrame and declare a `DatetimeIndex`.

Instructions:

1. Import the Pandas and `pathlib` libraries.

2. Use `Path` with the `read_csv` function to read the CSV file into the DataFrame. Use the `index_col`, `parse_dates`, and `infer_datetime_format` parameters to set the IPO Date column as the index.

3. Use the `head` function to view the first five rows of the DataFrame.

4. Use the `tail` function to view the last five rows of the DataFrame.


References:

[Pandas read_csv function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

[Pandas head function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html)

[Pandas tail function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.tail.html)

## Step 1: Import the Pandas and `pathlib` libraries.

In [1]:
# Import the Pandas library
# YOUR CODE HERE
import pandas as pd

# Import the Path module from the pathlib library
# YOUR CODE HERE
from pathlib import Path

## Step 2: Use `Path` with the `read_csv` function to read the CSV file into the DataFrame. Use the `index_col`, `parse_dates`, and `infer_datetime_format` parameters to set the IPO Date column as the index.

In [5]:
# Read in the CSV file called `IPO_data.csv`using the Path module
# The CSV file is located in the Resources folder
# Set the index to the column "IPO Date"
# Set the parse_dates and infer_datetime_format parameters

ipo_df = pd.read_csv(
    Path("../Resources/IPO_data.csv"),
    index_col = "IPO Date",
    parse_dates=True,
    infer_datetime_format=True)

## Step 3: Use the `head` function to view the first five rows of the DataFrame.

In [6]:
# Call head function to review the first 5 rows of the DataFrame
# YOUR CODE HERE
ipo_df.head()

            Trade Date Stock Ticker  First Week Stock Return
IPO Date
2020-01-17  2020-01-17          OIK                 0.013324
2020-01-17  2020-01-17          OCE                -0.016676
2020-01-17  2020-01-17          GMX                 0.273324
2020-01-17  2020-01-17          BZB                -0.106676
2020-01-30  2020-01-30          OSL                 0.993324

## Step 4: Use the `tail` function to view the last five rows of the DataFrame.

In [7]:
import pandas as pd
import numpy as np

apple_df = pd.DataFrame({"AAPL": [72.27, np.nan, 74.39, np.nan, 75.94, 76.93,np.nan, 78.74, np.nan, 79.81, np.nan, 79.53, np.nan, 79.56, 79.49]})

apple_df

     AAPL
0   72.27
1     NaN
2   74.39
3     NaN
4   75.94
5   76.93
6     NaN
7   78.74
8     NaN
9   79.81
10    NaN
11  79.53
12    NaN
13  79.56
14  79.49

In [9]:
apple_df.isnull().sum()

AAPL    6
dtype: int64