In [13]:
import pandas as pd

prices = pd.DataFrame({
    "price_usd": ["$0.53", "$0.22", "0.34"]
})

prices

  price_usd
0     $0.53
1     $0.22
2      0.34

In [14]:
prices.dtypes

price_usd    object
dtype: object

In [21]:
prices.loc[:, "price_usd"] = prices.loc[:, "price_usd"].str.replace("$", "").astype("float")
prices

C:\Users\sungmoo.b\AppData\Local\Temp/ipykernel_16564/2106824762.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  prices.loc[:, "price_usd"] = prices.loc[:, "price_usd"].str.replace("$", "").astype("float")

   price_usd
0       0.53
1       0.22
2       0.34

In [22]:
prices.dtypes

price_usd    float64
dtype: object

In [25]:
prices.sum()

price_usd    1.09
dtype: float64